.bg-main {
    background-color: #394f62;
    font-family: "Roboto Mono", monospace;
}

.bg-main .title {
    font-size: 25px;
}

.bg-main label {
    color: white;
    font-family: 'Itim', cursive; 
    font-size: 16px;
}

.bg-main input {
    background-color: #54657d;
    border: none;
    color: white;
}

.bg-main input:focus {
    background-color: #54657d;
    color: white;
}

.bg-main select {
    background-color: #54657d;
    border: none;
    color: white;
}

.bg-main textarea {
    background-color: #54657d;
    border: none;
    color: white;
}

.bg-main textarea:focus {
    background-color: #54657d;
    color: white;
}

.bg-main button {
    background: #f5a623;
    color: white;
    font-weight: bold;
    border: 2px solid #f5a623;
    transition: 0.2s;
}

.bg-main button:hover {
    background: #00000000;
    color: #f5a623;
}

.bg-main .btn-submit {
    width: 200px;
}

#editor {
    background: #54657d;
    border: none;
}
