#header {
    z-index: 100;
}

.navbar .nav-link {
    position: relative;
}

.nav-link {
    font-size: 17px;
    color: rgb(191, 182, 182);
    font-family: 'Itim', cursive;
}

.nav-link:hover {
    color: rgb(172, 251, 14);
    transition: all .5s;
}